@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Rubik+Mono+One&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    object-fit: cover
}
body{
  font-family: 'Lato', sans-serif;
  /* font-family: Tangerine; */
}


.icon-style-right{
  
}

.icon-style{
  text-shadow: 1px 0 0px  hsl(0, 0%,900%);
font-size:40px;
    /* background-color: #f3ec78; */
    /* background-image: linear-gradient(to right,#333,#eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    
}
.icon-style-right{
  text-shadow: -1px 0 0px  hsl(0, 0%,900%); 
}
:root{
    --border-radi:3px ;
}
.container{
    overflow-x: hidden;
    
    
}

a{
    text-decoration: none;
    color: white;
}
.nav{
    display: grid;
justify-content: space-between;
   grid-auto-flow: column;
    background-color: #131921; 
    padding: .5rem;
    align-items: center;
    gap: 1rem;
    width: 100%;
    aspect-ratio: 19/1;
}

.brand-logo{
    width: 6rem;
    
}
.logo-text{
  font-size: 13.5px;
  align-self: center;
}
/* .location{
    display: flex;
} */
.location-icon{
  align-self: flex-end;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.main-slider{
  position: relative;
  width: 100%;
  height: 100%;
}
.flex-row
{
    display: flex;
   
    justify-content: center;
    align-items: center;
    
    
}
.search-bar {
    padding: .2em;
}
.search-bar:hover,.search-bar:focus,.search-bar:focus-within{
    /* border-inline:2px solid  hsl(43, 100%, 45%) ;
    border-top:2px solid  hsl(43, 100%, 45%);
    outline: none;
    border-radius: var(--border-radi); */
}
.select{
   
    aspect-ratio: 9/6;
    height: 38px;
    position: relative;
    left:1.9px;
    
    
    /* inset-inline-start:.09em ; */
    border-radius: var(--border-radi);
    border-block-end: 2px solid   hsl(43, 100%, 45%);
}
.search-box{

    width: 25em;
   height: 40px;
   
    
    border-radius: var(--border-radi);
}
.search-icon{
    background-color: hsl(34, 99%, 68%);
  width:1.7em;

  aspect-ratio: 16/16;
    border-radius:0 3px  3px 0 ;
    opacity: .9;
}
.flag-image{
    width: 1rem;
}


option{
  width: max-content;
}
select{
  width: max-content;
}

.inside-container{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  
}
.product-items{
  background:linear-gradient(rgba(234, 237, 237,0 )2px,#eaeded 99.99%);
transform: translateY(-270px);
height: 50%;
margin-bottom: -260px;
padding-block-end: 2em;
padding: 2em;
}
.slider-parent{
  transition: transform 250ms linear;
}
.inside-container img{
  width: 100%;
  aspect-ratio: 27/12;
  object-fit: cover;
  
}

.back{
  background-color: orange;
  padding: 2rem;
}

.btn2 {
 
  position: absolute;
  width: 4em;
  text-align: center;
  height: 8em;
  top:50%;
  /* background-color: hsl(0, 0%, 600%);*/
   background-color: none;
  transform: translateY(-50%);
  padding-block: 3em;
  border-radius: 5px;

  
}
.image-slider-heading{
padding-left: .5em;
}
.btn2>i{
  font-size: 2em;
  color: gray;
}
.btn{
  z-index: 99;
}
.btn{
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  cursor: pointer;
 background-color: transparent;
 border: none;
  width: 5em;
  padding-block: 6em;
  

}

.btn:focus,.btn:focus-within{
  border: 2px solid gray;
  outline: 2px solid white;
  border-radius: 5px;
}
.nextbtn{
  right: 0;
}
.prevbtn{
  left: 0;
}
.prevbtn-2{
  left: 0rem;
  z-index: 5;

}
.nextbtn-2
{
  right: 0;
}

.main{
  display: flex;
 flex-direction: column;
}
.cards-container img{
  width: 100%;
  aspect-ratio: 22/20;
  object-fit: cover;
  /* margin-block: 2em; */
}

.cards-container a{
  color: black;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:1.3rem
}
.row-3{
  grid-column: 1/5;
}
.inner-images{
  display: grid;
  grid-template-columns: repeat(2,100px);
  
 column-gap: 1.7em;
 justify-content: flex-start;
 align-items:center;
  /* padding-block:.4em ; */
  row-gap: 1.5em;
  padding-inline-start: 1em;
  text-align: center;
}
.four-card-in-one-card{
  padding-block: 3em;
 
}
.flex-col__card{
  justify-content: space-around;
  
}
.card{
  -webkit-box-shadow: 0px 5px 11px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 11px -6px rgba(0,0,0,0.75);
box-shadow: 0px 5px 11px -6px rgba(0,0,0,0.75);
  width: 100%;
 
  padding-block: 1em;
height: 35em;
padding-inline: 2em; 
 /* background-color: white; */

  font-size: .7em;
}
h2{
  font-size:21px ;
}



.sign-in-add-container{
  margin-bottom: 1em;
  
  background-color: white;
  padding: 1em;
}
.sponser-container img{
  width: 100%;
  
 

}
.deatails-container{
  display: grid;
  grid-auto-flow: column;
  gap:2em;
}



:root{
  --space:1rem
}
.ul{
   

  display: grid;
  gap:var(--space);
  border: 4px solid hotpink;
  grid-auto-flow: column;
  grid-auto-columns: 150%;
/* background-color: hotpink; */
  padding: 0 var(--space) var(--space);
align-items: center;
  overflow-x:hidden ;
  position: relative;
  overscroll-behavior-inline: contain;
  
}
.media-scroller:hover{
    cursor: pointer;
}
.media-scroller--with-groups {

position: relative;
}

.media-group {
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  transition:all 500ms linear ;
  align-items: center;
 

}

.media-element {
  display: grid;
  grid-template-rows:min-content;
  gap: var(--space);
  padding: var(--space);
  background: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);

}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}


















































































/* all  about footer */


.sign-in-section-footer{
  padding-block: 2em;
  text-align: center;
  

}
.sign-in-section-footer>p{
  font-size: 14px;
  font-weight: lighter;
}
.start-here>a{
  color: hsl(190, 36%, 57%);
  
}
.hr-black{
  background-color: hsl(0, 0%, 91%);
  width: 98%;
  margin: 0 auto;
  height: 1px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
.sign-in-footer{
  width: 20%;
  display: inline-block;
  text-align: center;
  padding: .2em;

  background:linear-gradient(hsl(43, 100%, 80%),hsl(43, 100%, 50%)) ;
font-weight: 700;
  border-radius: 5px;
  text-shadow: 0 1px 0 #ffe093;
  border: none;
color: black;
}
.back-button{
width: 100%;
padding: 1.3em;
background-color: hsl(213, 24%, 28%);

color: hsl(0, 0%, 120%);
border: none;
outline: none;
}
.back-button:hover{
  background-color: hsl(213, 24%, 32%);
}
.about-amazon{
  justify-content: space-evenly;
  padding-inline: 9em;
  padding-block: 2.5em;
  background-color: #232f3e;

  color: hsl(0, 0%, 87%);
  
  margin: auto;
  font-weight: 100;
}
.about-amazon p a{
  color: hsl(0, 0%, 87%);
}
.about-amazon p a:hover{
  text-decoration: underline;
}
.about-amazon div>*{
  padding-bottom: 1em;
  font-size: 0.82rem;
}
.logo-language-selector
{
  text-align: center;
  padding: 2em;
  
}
.logo-language-selector img{
  width: 7em;
}
.language-selecting-box{
  border: 1px solid hsl(0, 0%, 87%);;
  justify-content: space-evenly;
  
  border-radius: 5px;
  margin-left: 6em;
  width: 12%;
  aspect-ratio: 15/4;  
}
.language-selecting-box img{
  width: 1.2em;
}
.country{
  max-width: 960px;
  text-align: center;
 
  margin: 0 auto;
}
.country>span>a{
  color: hsl(0, 0%, 78%);
}

.font-modifier{
  color: hsl(0, 0%, 90%);
  font-size: 12px;
  font-weight: lighter;
  line-height: .3;
}
.account-list>span{
  font-size: 13px;
  font-weight: bolder;
}
.orders span:nth-child(2){
  font-size: 14.5px;
  font-weight: bolder;
}
.cart span{
  font-size: 14.5px;
  font-weight: bolder;
}
.location-container span:nth-child(1){
  color: hsl(0, 0%, 70%);
  font-size:11px;
}
.location-container span:nth-child(2){
  font-weight: bolder;
  font-size: 13px;
}
.country>span>a:hover{
  text-decoration: underline;
}
.country>*{
  padding-left: 1em;
}
.country-list{
  background-color: #232f3e;
  color: hsl(0, 0%, 78%);
  font-size: 0.73em;
  padding-block: .6em;
  font-weight:lighter;
}
.country-list-1{
  padding: 2em;
}
.grid-5
{
  display: grid;
  grid-template-columns: repeat(5,1fr);
 column-gap: 5.7em;
 row-gap: 2em;
 text-align: center;

}
.copy-writes {
  text-align: center;
  padding-block-start: 5em;
  padding-block-end: 1em;
  color: hsl(0, 0%, 87%);
  font-size: 1.1em ;
}
.copy-writes a{
  color: hsl(0, 0%, 87%);
  padding-inline-start: 2em;
   
   padding-inline-end: 1em;


}


.copy-writes a:hover{
  text-decoration: underline;
}
.final-footer{
  padding: 2em;
  background-color: #131A22;
  
  font-size: .64em; ;
  

  
}
.product >a>p{
  text-align: left;
  color: hsl(0, 0%, 57%);
}
.about-amazon .high-lighter{
  font-weight: bolder;
  font-size: 1.1em;
  color: aliceblue;
}
.hr{
  background-color: hsl(0, 0%, 37%);
  height: .1px;
}
.amazon-product-description .product>a>*:first-child{
  color: hsl(0, 0%, 77%);;
  font-size: 1.11em;
}
.amazon-product-description .product:hover{
 text-decoration: underline;
}